<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774532581553-qvdj8jstm0kvqi7j4rq704p43aji5qqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774532581553-qvdj8jstm0kvqi7j4rq704p43aji5qqm</string>
	<key>API_KEY</key>
	<string>AIzaSyAdgIg5JDL1S8c4sY9N4_7HGNz2_cF-Zbg</string>
	<key>GCM_SENDER_ID</key>
	<string>774532581553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adoptPets</string>
	<key>PROJECT_ID</key>
	<string>pet-adoption-app-9a14a</string>
	<key>STORAGE_BUCKET</key>
	<string>pet-adoption-app-9a14a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774532581553:ios:ba7988404fa18fe6217a90</string>
</dict>
</plist>